$dark-color: #14141f;
$white-color: #f4f3eeff;

$pr-color: #a6042e;

$bg-dark: rgba($dark-color, 1);
$bg-light: rgba(lighten($bg-dark, $amount: 20), 0.5);
$bg-pr: rgba($pr-color, 0.7);
@font-face {
  font-family: "Vazirmatn";
  src: url("../public/fonts/Vazirmatn[wght].woff2") format("woff2 supports variations"),
    url("../public/fonts/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  &::selection {
    background-color: $bg-pr;
    color: $white-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

h1 {
  text-align: center;
  font-size: 44px;
  svg {
    width: 50px;
    height: 50px;
  }
  @media screen and (max-width: 768px) {
    font-size: 32px;
    svg {
      width: 38px;
    }
  }
  @media screen and (max-width: 480px) {
    font-size: 24px;
    svg {
      width: 30px;
    }
  }
}

p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
  line-height: 28px;
  vertical-align: middle;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}
a {
  text-decoration: none;
  color: $white-color;
}
ul {
  list-style: none;
}
img {
  object-fit: cover;
  overflow: hidden;
}
html,
body {
  color: $white-color;
  direction: ltr;
  background-color: $bg-dark;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
video {
  &::-webkit-media-controls-fullscreen-button {
    display: none !important;
  }
  &::cue {
    color: $white-color;
    font-family: Vazirmatn, Arial, Helvetica, sans-serif !important;
    background-color: rgba($color: $bg-dark, $alpha: 0.7) !important;
  }
  &:focus {
    outline: none !important;
  }
}
form {
  input,
  label {
    font-family: inherit;
    border: 1px solid transparent;
    background-color: $bg-light;
    color: darken($color: $white-color, $amount: 50);
    color: $white-color;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    font-size: 0.8em;
    border-radius: 5px;

    &:focus {
      outline: none !important;
      border: 1px solid $pr-color;
    }
  }

  ::-webkit-file-upload-button {
    display: none;
  }
}
.pr-color {
  color: $pr-color;
}
.fix-width {
  padding: 0px 50px;
  margin: 0 auto;
  width: 100vw;
  max-width: 1280px;
  @media screen and (max-width: 480px) {
    padding: 0px 20px;
  }
  @media screen and (max-height: 480px) {
    padding: 0px 40px;
  }
}
.flex-h {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button,
.btn {
  border: none;
  background-color: unset;
  border-radius: 5px;
  min-width: max-content;
  padding: 8px 15px;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: $white-color;
  svg {
    margin-left: 10px;
  }

  &:disabled,
  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }
  @media screen and (max-width: 480px) {
    font-size: 0.8em;
    padding: 6px 8px;
    svg {
      width: 15px;
      margin-left: 5px;
    }
  }
}
.btn-pr {
  background-color: $pr-color;
  color: $white-color;
}
.btn-sc {
  border: 2px solid $pr-color;
  color: $pr-color;
}
.btn-white {
  border: 2px solid $white-color;
  color: $white-color;
  transition: all 0.3s;
  &:hover {
    border: 2px solid $pr-color;
    background-color: $pr-color;
  }
}
.alert {
  background-color: $bg-pr;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  svg {
    margin-right: 5px;
  }
}

@import "./header.scss";
@import "./home.scss";
@import "./room.scss";
@import "./footer.scss";
@import "./loading.scss";
@import "./cartoons.scss";
